/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* encabezado*/
header {
    background-color: #086dc0;
    color: white;
    padding: 20px;
    text-align: center;
}
.dashboard{
    display: grid;
    grid-template-columns: 220px 1fr; /*menu de contenido*/
    gap: 20px;
}


/* Navegación */
nav {
    background-color: #343a40;
    padding: 40px 0;
    display: grid;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 
}

nav ul li {
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #495057;
}



/* Contenido principal */
.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

/* Secciones de contenido */
.grafica, .resumen {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grafica h2, .resumen h2 {
    margin-top: 0;
}

/* Canvas de Chart.js */
#graficoAprobados {
    width: 100%;
    height: 300px;
}


/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #086dc0;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}